/* Estilos para el bloque Services Grid */
.services-grid {
  display: grid;
  grid-row: none;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  width: fit-content;
  gap: 2rem;
  margin: 0 auto;
}

.service-card {
  background: #f7f8fa;
  border: 2px solid transparent;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 8px rgba(60, 60, 60, 0.05);
  width: 225px;
  height: 275px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  transition: border 0.2s, box-shadow 0.2s, background 0.3s, color 0.3s;
  cursor: pointer;
  overflow: hidden;
  padding: 45px 38px;
}

.service-card img {
  width: 80px;
  height: 80px;
}

.service-title {
  color: #222;
  transition: color 0.3s;
  font-family: var(--font-special);
  font-size: 1.375rem;
  font-weight: 700;
  line-height: normal;
}

.service-title span {
  opacity: 0;
  transition: opacity 0.3s;
}

/* Efecto hover */
.service-card:hover {
  background: #97a6b8;
  border: 2px solid #97a6b8;
}

.service-card:hover img {
  opacity: 0;
}

.service-card:hover .service-title {
  color: var(--font-white);
}

.service-card:hover .service-title span {
  opacity: 1;
}
