/* Importación de fuentes */
@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('../fonts/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype-variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-style: italic;
}

@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 1000;
  font-style: normal;
}

:root {
  --color-primary: #e6007a;
  --color-primary-dark: #b8005c;
  --font-primary: 'Nunito Sans', sans-serif;
  --font-special: 'Quicksand', sans-serif;

  font-size: 16px;
  font-family: var(--font-primary);
}

/* Ocultar región de ayuda */
.help.gav-help-region {
  display: none !important;
}
