$theme_color: 		#CE0E71;
$image-theme-path-base: '../../../images/';
$base-theme-image-path:'../../../images/';
$theme-font-path: '../../../fonts/';
$icon-font-path: '../../../fonts/';

$link-hover-color:      #CE0E71;
$brand-primary:    #CE0E71;